# SPDX-FileCopyrightText: 2021 Jonah Brüchert <jbb@kaidan.im>
# SPDX-FileCopyrightText: 2021 Bhushan Shah <bshah@kde.org>
#
# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL

*.kdev4
CMakeLists.txt.user
flatpak/flatpak-builder-tools/
build/
compile_commands.json
.cache
.qmlls.ini
