[Desktop Entry]
Name=AudioTube
Comment=youtube_music Kirigami Application
Version=1.0
Exec=audiotube
Icon=applications-development
Type=Application
Terminal=false
Categories=Qt;KDE;
