[Desktop Entry]
Name=AudioTube
Comment=YouTube Music client
Version=1.0
Exec=audiotube
Icon=org.kde.audiotube
Type=Application
Terminal=false
Categories=Qt;KDE;AudioVideo;Player;
