# SPDX-FileCopyrightText: 2021 Jonah Brüchert <jbb@kaidan.im>
# SPDX-FileCopyrightText: 2021 Kuba Prussak <jakub.wojciech.prussak@gmail.com>
#
# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL

ytmusicapi==0.21.0
yt-dlp
